html,
body{
    height: 99%;
    width: 99%;
}

.textbox{
    word-wrap:break-word;
    color:red;
}

.left{    
    text-align: left;
    width: 100%;
}
.right{
    width: 100%;
    text-align: right;
}
.top{
}
.button{
    height:auto;
    position: fixed;
    bottom: 0;
}